* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

/* hero section */

.hero {
    display: flex;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    align-self: flex-start;
}

.info {
    padding: 64px;
}

.info-header {
    text-align: center;
}

.img-section {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.img-section > div {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    text-align: center;
}

.frame {
    width: 180px;
}

/* quote section */

.quote {
    padding: 64px;
}

.quote-author {
    text-align: end;
}

/* call section */

.call-quote {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* footer */
footer {
    margin-top: auto;
    text-align: center;
    padding: 32px;
}