* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

