* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}