* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

header, section, footer {
  padding-left: clamp(16px, 5vw, 120px);
  padding-right: clamp(16px, 5vw, 120px);
}

/* header */

header {
    background-color: #1f2937;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a, .secondary-text {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/* hero section */

.hero {
    background-color: #1f2937;
}

.hero > .container {
    display: flex;
    gap: 64px;
    padding: 128px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-width: 50%;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: -10px;
}

.hero-right {
    background-color: rgb(120, 120, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    aspect-ratio: 2 / 1;
    width: 430px;
    flex-shrink: 0;
}

button {
    align-self: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

/* info section */

.info > .container {
    padding: 48px 0 128px 0;
}

.info-header {
    text-align: center;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 36px;
}

.img-section {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.img-section > div {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    text-align: center;
    gap: 8px;
    color: gray;
}

.frame {
    width: 180px;
    height: 180px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

/* quote section */

.quote {
    background-color: #e5e7eb;
}

.quote > .container {
    padding: 64px;
}

.quote-author {
    text-align: end;
}

/* call section */

.call-quote {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* footer */
footer {
    margin-top: auto;
    text-align: center;
    padding: 32px;
}